<html>
  <head>
    <meta charset='utf-8'>
    <title>Places Visited</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Add a new place</h1>
    <form action="/places" method="post">
      <div class="form-group">
        <label for="locationInput">Location</label>
        <input id="locationInput" name="locationInput" type="text">
      </div>
      <div class="form-group">
        <label for="dateInput">Date Traveled</label>
        <input type="text" name="dateInput" id="dateInput">
      </div>
      <button class="btn btn-primary" type="submit" >Submit</button>
    </form>
  </body>
</html>